@charset "utf-8";
//————————————————————————————————————————————
// break point
//————————————————————————————————————————————
@mixin bp ( $type: min, $num1: false, $num2: false ) {
  @if $type != max and $type != min and $num1 != false {
    $num2: $num1;
    $num1: $type;
    $type: min;
  } @else if $type != max and $type != min and $num1 == false {
    $num2: null;
    $num1: $type;
    $type: min;
  }

  @if $type == min {
    $min: $num1;
    $max: $num2;

    @if $max and $min and $max < $min {
      $min: $num2;
      $max: $num1;
    }

    @if $max == false or $max == null {
      @media screen and (min-width: $min) { @content; }
    } @else {
      @media screen and (min-width: $min) and (max-width: $max) { @content; }
    }
  } @elseif $type == max {
    $min: $num2;
    $max: $num1;

    @if $min and $max < $min {
      $min: $num1;
      $max: $num2;
    }

    @if $min == false or $min == nul {
      @media screen and (max-width: $max) { @content; }
    } @else {
      @media screen and (min-width: $min) and (max-width: $max) { @content; }
    }
  }
}

@mixin breakMax( $max, $min: false ) {
  @if $min == false {
    @media screen and (max-width: $max) { @content; }
  } @else {
    @media screen and (max-width: $max) and (min-width: $min) { @content; }
  }
}

@mixin breakMin( $min, $max: false ) {
  @if $max == false {
    @media screen and (min-width: $min) { @content; }
  } @else {
    @media screen and (max-width: $max) and (min-width: $min) { @content; }
  }
}
