@charset 'utf-8';
@import 'mixin';
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent
}
body {
  font-family:  muli, YuGothic, "Yu Gothic Medium", "Yu Gothic", Verdana, Meiryo, sans-serif;
  font-weight: 500;
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #000;
}
@font-face {
	font-family: 'utsukushi';
	src: url(../font/02UtsukushiMincho.ttf);
}
.utsukushi{
  font-family: "utsukushi",游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}
.yumin{
  font-family: 游明朝,"Yu Mincho",YuMincho,"Hiragino Mincho ProN","Hiragino Mincho Pro",HGS明朝E,メイリオ,Meiryo,serif;
}

.loto{
  font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,a{
  line-height: 1.3;
  font-feature-settings: "palt";
  letter-spacing: 1px;
}
*{
  box-sizing: border-box;
}
a{
  color: #000000;
  &:hover{
    opacity: 0.75;
    transition-duration: .2s;
  }
}
* img {
  max-width: 100%;
  vertical-align: bottom;
}
ul, li {
  list-style: none;
}
a{
  text-decoration:none;
}
.italic{
  font-style: italic;
}
b, strong, .bold{
  font-weight: bold;
}
//————————————————————————————————————————————
// header
//————————————————————————————————————————————
.header{
  position: fixed;
  width: 100%;
  z-index: 500;
  background: -moz-linear-gradient(73deg, #bea04b, #ba9240);
  background: -webkit-linear-gradient(73deg, #bea04b, #ba9240);
  background: -ms-linear-gradient(73deg, #bea04b, #ba9240);
  &__wrap{
    position: relative;
    max-width: 1240px;
    width: 100%;
    padding: 0 20px 10px 20px;
    margin: 0 auto;
  }
  &__accountwrap{
    position: absolute;
    right: 20px;
    top: 40px;
    @include breakMax (1000px) {
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
    }
    .search_area{
      margin: 0 0 0 10px;
      @include breakMax (1000px) {
        display: none;
      }
      input{
        max-width: 145px;
        width: 100%;
        height: 36px;
      }
    }
  }
  .logo_area{
    width: 100%;
    padding: 22px 0;
    margin: 0 auto;
    text-align: center;
    @include breakMax (1000px) {
      width: 170px;
      padding: 10px 0;
    }
  }
}
.nav_area{
  display: flex;
  justify-content: center;
  width: 100%;
  @include breakMax (1000px) {
    display: none;
  }
  .header_nav{
    width: 100%;
    > ul > li{
      &:not(:first-of-type){
        margin:  0 0 0 35px;
      }
      a{
        font-size: 18px;
        font-weight: bold;
      }
    }
  }
}
#dropmenu {
  max-width: 1200px;
  width: 100%;
  padding: 0;
  justify-content: center;
}
#dropmenu li {
  position: relative;
  width: auto;
  float: left;
  padding: 0;
  text-align: center;
}
#dropmenu li a {
  display: block;
  margin: 0;
  padding: 16px 0;
  font-weight: bold;
}
#dropmenu li ul {
  list-style: none;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: auto;
  margin: 0;
  padding: 0;
  box-shadow: 0 0 10px #26262633;
  white-space: nowrap;
}
#dropmenu li ul li {
  overflow: hidden;
  width: 100%;
  height: 0;
  color: #fff;
  transition: .2s;
}
#dropmenu li ul li a {
  padding: 14px;
  background: #ffffff;
  text-align: left;
}
#dropmenu > li:hover li:hover > a {
  background: #eeeeee;
}
#dropmenu li:hover > ul > li {
  overflow: visible;
  height: auto;
}
#dropmenu li ul li ul {
  top: 0;
  left: 100%;
}
#dropmenu li:last-child ul li ul {
  left: -100%;
  width: 100%;
}
#dropmenu li ul li ul li a {background: #ffffff;}
#dropmenu li:hover ul li ul li:hover > a {background: #eeeeee;}
.sp_nav{
  display: none;
}
@include breakMax (1000px) {
  .sp_btn {
    position: absolute;
    left: 10px;
    top: calc(50% - 1px);
    transform: translateY(-50%);
    width: 45px;
    height: 45px;
    background: #bd9c48;
    display: block;
    cursor: pointer;
    z-index: 200;
    span,
    span::before,span::after {
      position: relative;
      top: 50%;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 30px;
      height: 2px;
      background: #000;
      display: block;
      transition-duration: 300ms;
    }
    span::before {
      position: absolute;
      content: "";
      top: 10px;
    }
    span::after {
      position: absolute;
      content: "";
      top: auto;
      bottom: 10px;
    }
    &.close span {
      transform: rotate(45deg);
      top: calc(50% - 2px);
      &:before {
        transform: rotate(-90deg);
        top: calc(50% - 1px);
      }
    }
    &.close + .sp_nav{
      transform: translateY(0%);
    }
    &.close{
      span::after {
        opacity: 0;
      }
    }
  }
  .sp_nav{
    position: fixed;
    top: 85px;
    left: 0;
    width: 100%;
    background: #191919;
    box-shadow: 0 20px 20px -7px #3838387a;
    transform: translateY(calc(-120% - 100px));
    transition-duration: 800ms;
    display: block;
    z-index: 300;
    ul{
      li {
        a {
          padding: 10px;
          text-align: center;
          font-size: 18px;
          display: block;
          color: #fff;
          border-top: 1px solid #e8e8e880;
        }
      }
    }
  }
  &.active{
    .sp_nav{
      transform: translateY(0);
    }
  }
}


//————————————————————————————————————————————
// main_visual key_visual
//————————————————————————————————————————————
.main_visual{
  padding: 180px 0 0 0;
  @include breakMax (1000px) {
    padding: 82px 0 0 0;
  }
}
.key_visual_box{
  position: relative;
  .page_title {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
  }
}
//————————————————————————————————————————————
// footer
//————————————————————————————————————————————
.footer{
  padding: 40px 20px;
  background: -moz-linear-gradient(25deg, #000, #423e3d);
  background: -webkit-linear-gradient(25deg, #000, #423e3d);
  background: -ms-linear-gradient(25deg, #000, #423e3d);
  @include breakMax (1000px) {
    padding: 20px;
  }
  &__wrap{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    @include breakMax (1000px) {
      &__wrap{
        padding: 0 10px;
      }
    }
    .footer_nav{
      width: 100%;
    }
    .footerlist{
      display: flex;
      justify-content: flex-end;
      width: 100%;
      @include breakMax (1000px) {
        justify-content: center;
      }
      &__item{
        &:not(:first-of-type){
          margin: 0 0 0 25px;
        }
        a{
          color: #fff;
          @include breakMax (1000px) {
            font-size: 12px;
          }
        }
      }
    }
    .footer_sns {
      margin:20px 0 20px 0;
      justify-content: center;
      li{
        &:not(:first-of-type){
          margin: 0 0 0 20px;
        }
      }
    }
  }
}
.copy{
  width: 100%;
  font-size: 12px;
  text-align: center;
  color: #fff;
  display: block;
}

//————————————————————————————————————————————
// section
//————————————————————————————————————————————
.section_inner{
  &.w1000{
    max-width: 1040px;
  }
  &.w900{
    max-width: 940px;
  }
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  @include breakMax (1000px) {
    padding: 0 15px;
  }
  @include breakMax (768px) {
    padding: 0 15px;
  }
}
.content_wrap{
  &.sub_wrap{
    max-width: 100%;
    width: 100%;
    margin: 70px auto 0;
  }
  max-width: 1200px;
  width: 100%;
  margin: 70px auto 0;
  justify-content: space-between;
  z-index: 400;
  &:before{
    position: fixed;
    content: "";
    top: 70px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #00000099;
    opacity: 0;
    transition-duration: .2s;
    z-index: -100;
  }
  &.active:before{
    opacity: 1;
    z-index: 300;

  }
}

//——————————— main_wrap ———————————
.main_wrap{
  max-width: 850px;
  width: 100%;
  padding: 0 10px 0 0;
  margin: 0 0 0 40px;
  &.lower_section{
    margin: 0 0 80px 40px;
    @include breakMax (1000px) {
      margin: 0 auto;
    }
  }
  @include breakMax (1000px) {
    margin: 0 auto;
    padding: 0 10px;
    margin: auto;
  }
}

.lower_wrap {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    @include breakMax (1000px) {
      padding: 0 10px;
      margin: auto;
    }
}

//——————————— side_wrap ———————————
.side_wrap{
  max-width: 314px;
  width: 100%;
  padding: 0 0 0 10px;
  z-index: 450;
  @include breakMax (1000px) {
    position: fixed;
    left: 0;
    top: 81px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    background: #fff;
    transform: translateX(-100%);
    transition-duration:.5s;
    transition-property: transform;
    padding: 40px 10px 40px 10px;
    max-width: 50%;
    &.active{
      transform: translateX(0%);
    }
  }
  @include breakMax (768px) {
    max-width: 85%;
  }
}
.sidenavi_box{
  @include breakMax (1000px) {
    &:last-child{
      margin: 45px 0 80px 0 !important;
    }
  }
  &:not(:first-of-type){
    margin: 60px 0 0 0;
    @include breakMax (1000px) {
      margin: 45px 0 0 0;
    }
    @include breakMax (768px) {
      margin: 35px 0 0 0;
    }
  }
  &:last-child.end{
    display: none;
    @include breakMax (1000px) {
      display: block;
    }
  }
  @include breakMax (768px) {
    &:last-child{
      margin: 35px 0 80px 0 !important;
    }
  }
}
//————————————————————————————————————————————
// table
//————————————————————————————————————————————
table{
  border-collapse:collapse;
  border-spacing: 0;
}
.table_sinple{
  border-top: 1px solid #ccc;
  @include breakMax (768px) {
    display: flex;
    flex-flow: wrap;
  }
  &:last-of-type{
    border-bottom: 1px solid #ccc;
  }
  &__dt{
    padding: 25px 20px 25px 20px;
    background: #e6e6e6;
    border-right: 1px solid #ccc;
    text-align: left;
    line-height: 1;
    white-space: nowrap;
    @include breakMax (768px) {
      width: 100% !important;
      padding: 15px;
      border-right:none;
    }
  }
  &__dd{
    width: 85%;
    padding: 25px 25px 25px 25px;
    align-items: center;
    line-height: 1;
    @include breakMax (768px) {
      width: 100% !important;
      padding: 15px;
    }
  }
}
.datalist {
    display: flex;
    border-top: 1px solid #ccc;
    &:last-of-type{
      border-bottom: 1px solid #ccc;
    }
    &__dt {
      padding: 25px 20px 25px 20px;
        background: #e6e6e6;
        border-right: 1px solid #ccc;
        display: flex;
        align-items: center;
        line-height: 1;
    }
    &__dd{
      padding: 25px 25px 25px 25px;
      display: flex;
      align-items: center;
      line-height: 1;
    }
}
.single_wrap{
  &__data{
    .datalist{
      &__dt {
        width: 110px;
        padding: 25px 0 25px 20px;
      }
      &__dd{
        width: calc(100% - 110px);
        padding: 25px 5px 25px 25px;
      }
    }
  }
}
