@charset 'utf-8';
@import 'mixin';
.page_concept{
  .side_wrap{
    display: none;
    @include breakMax (1000px) {
      display: block;
    }
  }
}
.circle_wrap{
  position: relative;
  width: 100%;
  height: 23vw;
  overflow: hidden;
  background: -moz-linear-gradient(180deg, #7d1728, #b40833);
  background: -webkit-linear-gradient(180deg, #7d1728, #b40833);
  background: -ms-linear-gradient(180deg, #7d1728, #b40833);
  z-index: 200;
  @include breakMax (1200px) {
    height: 33vw;
  }
  .circle_img{
    position: absolute;
    &.img01{
        top: -80px;
        left: -5vw;
        width: 16vw;
        @include breakMax (1200px) {
          width: 24vw;
        }
    }
    &.img02{
      bottom: -6vw;
      left: 11vw;
      width: 22vw;
      @include breakMax (1200px) {
        width: 29vw;
        bottom: -12vw;
      }
    }
    &.img03{
      top: -11vw;
      right: -8vw;
      width: 30vw;
      @include breakMax (1200px) {
        width: 38vw;
      }
    }
  }
}
.cook_section{
  margin: -19vw auto 0;
  position: relative;
  z-index: 300;
  @include breakMax (1200px) {
    margin:-28vw auto 0;
  }
  .column3{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &:after{
      content: "";
      width: 33%;
    }
    &__img{
      width: 33%;
      margin: 0 0 20px 0;
    }
  }
}

.introduction{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  &:not(:first-of-type){
    margin: 40px 0 0 0;
  }
  &__img {
    width: 260px;
    margin-right: 15px;
    @include breakMax (1200px) {
      width: 180px;
    }
    @include breakMax (768px) {
      margin: 0 auto 30px;
      text-align: center;
    }
  }
  &__text {
    width: calc(100% - 320px);
    margin: 25px 0 0 0;
    @include breakMax (1200px) {
      width: calc(100% - 220px);
      margin: 25px 0 0 0;
    }
    @include breakMax (768px) {
      width: 100%;
      margin: 0;
    }
  }
}
.bg_red{
  background: -moz-linear-gradient(180deg, #7d1728, #b40833);
  background: -webkit-linear-gradient(180deg, #7d1728, #b40833);
  background: -ms-linear-gradient(180deg, #7d1728, #b40833);
}

.operation_section{
  .table_sinple{
    &__dt{
      color: #fff;
    }
    &:first-of-type{
      .table_sinple__dt{
        background: -moz-linear-gradient(180deg, #423e3d, #393534);
        background: -webkit-linear-gradient(180deg, #423e3d, #393534);
        background: -ms-linear-gradient(180deg, #423e3d, #393534);
      }
    }
    &:nth-child(2){
      .table_sinple__dt{
        background: -moz-linear-gradient(180deg, #393534, #2a2826);
        background: -webkit-linear-gradient(180deg, #393534, #2a2826);
        background: -ms-linear-gradient(180deg, #393534, #2a2826);
      }
    }
    &:nth-child(3){
      .table_sinple__dt{
        background: -moz-linear-gradient(180deg, #2a2826, #1a1818);
        background: -webkit-linear-gradient(180deg, #2a2826, #1a1818);
        background: -ms-linear-gradient(180deg, #2a2826, #1a1818);
      }
    }
    &:nth-child(4){
      .table_sinple__dt{
        background: -moz-linear-gradient(180deg, #1a1818, #0b0a0a);
        background: -webkit-linear-gradient(180deg, #1a1818, #0b0a0a);
        background: -ms-linear-gradient(180deg, #1a1818, #0b0a0a);
      }
    }
    &:nth-child(5){
      .table_sinple__dt{
        background: -moz-linear-gradient(180deg, #0b0a0a, #010000);
        background: -webkit-linear-gradient(180deg, #0b0a0a, #010000);
        background: -ms-linear-gradient(180deg, #0b0a0a, #010000);
      }
    }
    &:nth-child(6){
      .table_sinple__dt{
        background: -moz-linear-gradient(180deg, #010000, #000000);
        background: -webkit-linear-gradient(180deg, #010000, #000000);
        background: -ms-linear-gradient(180deg, #010000, #000000);
      }
    }
  }
}

.line_height2{
  line-height: 2;
}
.fadeinleft {
  opacity: 0;
}
.bottom_fade_in{
  opacity: 0;
  transform: translateY(20px);
  transition-duration: 1s;
  transition-delay: 500ms;
  transition-property: opacity,transform;
  &.active {
    opacity: 1;
    transform: translateY(0);
  }
}
.d1{transition-delay: 600ms;}
.d2{transition-delay: 650ms;}
.d3{transition-delay: 700ms;}
.d4{transition-delay: 750ms;}
.d5{transition-delay: 800ms;}
.d6{transition-delay: 850ms;}
