@charset 'utf-8';
@import 'mixin';
//————————————————————————————————————————————
// content
//————————————————————————————————————————————

//——————————— news_section ———————————
.news_section{
  margin-bottom: 80px;
  @include breakMax (1000px) {
    margin-bottom: 50px;
  }
  .newsbox{
    &:not(:first-of-type){
      margin-top: 15px;
    }
    display: flex;
    justify-content: space-between;
    @include breakMax (1000px) {
      display: block;
    }
    &__data{
      min-width: 120px;
      width: 120px;
      @include breakMax (1000px) {
        width: 100%;
      }
    }
    &__title{
      width: calc(100% - 120px);
      @include breakMax (1000px) {
        margin: 6px 0 0 0;
        padding: 0 0 12px 0;
        width: 100%;
        border-bottom: 1px solid #ccc;
      }
    }
  }
}

//——————————— news_section ———————————
.itembox{
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  width: 100%;
  height: auto;
  &::after{
    content: "";
    width: 31%;
    display: block;
  }
  &__list {
    width: 31%;
    margin: 0 0 50px 0;
    text-align: center;
    @include breakMax (1000px) {
      width: 47%;
    }
  }
  &__img{
    margin-bottom: 15px;
  }
  &__title{
    margin-bottom: 10px;
  }
}

//————————————————————————————————————————————
// side_wrap
//————————————————————————————————————————————
.side_wrap{
  @include breakMax (1000px) {
    .longin_wrap{
      display: none;
    }
  }
  @include breakMax (768px) {
    .search_area{
      .button__primary{
        max-width: 60px;
      }
    }
  }
  .form_input__search{
    width: 220px;
    height: 38px;
    border:solid 1px #a2a1a1;
    border-radius: 0 !important;
    &.border{
      border: 1px solid #ccc;
    }
    @include breakMax (768px) {
      max-width: 500px;
      width: 100%;
    }
  }
  .button__search{
    width: 74px;
  }
  .recommendationbox {
    &:not(:first-of-type){
      margin: 20px 0 0 0;
    }
    a{
      display: flex;
      justify-content: start;
    }
    &__img{
      width: 140px;
    }
    &__text{
      width: 150px;
      margin-left: 20px;
      @include breakMax (1000px) {
        width: calc(100% - 90px);
      }
    }
  }
  .list{
    &__item{
      width: 100%;
      font-size: 20px;
      font-weight: bold;
      @include breakMax (1000px) {
        font-size: 13px;
        font-weight: bold;
        padding: 0 0 7px 0;
        margin: 0 0 15px 0;
        border-bottom: 1px solid #ccc;
        vertical-align: baseline;
      }
      a{
        line-height: 1.8;
        display: block;
        @include breakMax (1000px) {
          padding: 0;

        }
      }
    }
  }
  .sidelist{
    &__item {
      margin: 0 0 6px 0;
        a{
        position: relative;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: baseline;
        @include breakMax (1000px) {
          font-size: 13px;
          font-weight: bold;
          padding: 0 0 7px 0;
          margin: 0 0 15px 0;
          border-bottom: 1px solid #ccc;
          vertical-align: baseline;
        }
      }
    }
    &__circle{
      min-width: 13px;
      height: 13px;
      border-radius: 50px;
      background: #8f122c;
      margin: 0 20px 0 0;
      display: block;
      @include breakMax (1000px) {
        min-width: 10px;
        height: 10px;
        margin: 0 10px 0 0;
      }
    }
  }
}
