@charset 'utf-8';
@import 'mixin';
//————————————————————————————————————————————
// post_section
//————————————————————————————————————————————

//——————————— post_section ———————————
.single_wrap{
  display: flex;
  justify-content: space-between;
  @include breakMax (768px) {
    flex-wrap: wrap;
  }
  &__img{
    max-width: 450px;
    width: 100%;
    margin: 0 35px 0 0;
    @include breakMax (768px) {
      max-width: 100%;
      margin: auto;
      text-align: center;
    }
  }
  &__data{
    max-width: 350px;
    width: 100%;
    @include breakMax (768px) {
      max-width: 100%;
    }
  }
}


.counter_box{
  margin: 0 0 0 15px;
}
.spinner{
  display: block;
  width: 13px;
  height: 13px;
  border: 0px;
    padding: 0;
  background: url(../img/common/icon-arrow.png);
  background-size: 13px;
  background-repeat: no-repeat;
  cursor: pointer;
  &__up{
  }
  &__down{
    transform: rotate(180deg);
  }
}
.subphoto{
  display: flex;
  justify-content: center;
  &__item{
    &:not(:first-of-type){
      margin: 0 0 0 10px;
    }
  }
}
.c_counter{
  width: 70px;
  text-align: right;
  border: 1px solid #ccc;
  padding: 5px;
}

//——————————— review_section ———————————
.review_section{
  .table_sinple{
    border-top: none;
    &:last-of-type{
      border-bottom:none;
    }
    &__dt{
      padding:  25px 5px 5px 0;
      background: #fff;
      border-right:none;
      vertical-align: top;
      @include breakMax (768px) {
        width: 100%;
        padding: 5px;
      }
    }
    &__dd{
      padding: 25px 5px 5px 0;
      @include breakMax (768px) {
        width: 100%;
        padding: 5px 5px 20px 5px;
      }
    }
  }
  input,textarea{
    border: 1px solid #ccc;
    padding: 7px;
  }
  .review_box {
    border: 1px solid #ccc;
    padding: 20px;
    @include breakMax (768px) {
      padding: 10px;
    }
  }
}
