<footer class="footer">
  <div class="footer__wrap flex wrap jt_end">
    <div class="footer_nav">
      <ul class="footerlist">
        <li class="footerlist__item">
          <a class="font14" href="#">個人情報保護ポリシー</a>
        </li>
        <li class="footerlist__item">
          <a class="font14" href="#">特定商取引法表示</a>
        </li>
      </ul>
    </div>
    <div class="w100">
      <ul class="footer_sns flex">
        <li>
          <a href="#"><i class="c_white font20 font22_sp fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="c_white font20 font22_sp fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="c_white font20 font22_sp fab fa-facebook-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="copy">&copy; 2020 貴族の外食</div>
  </div>
</footer>
