<header class="header">
    <div class="header__wrap flex wrap ag_middle jt_between">
      <div class="header__accountwrap flex">
        <div class="button button__circle">
          <a href="#">
            <img src="./img/common/icon_user.png" alt="">
          </a>
        </div>
        <div class="button button__circle">
          <a href="#">
            <img src="./img/common/icon_basket.png" alt="">
          </a>
        </div>
        <div class="search_area">
          <input type="search" id="form_input__search" class="form_input form_input__search" name="s">
        </div>
      </div>
      <div class="logo_area">
        <h1>
          <a href="./index.html">
            <img width="230px" src="./img/common/header_logo.png" alt="貴族の食事 ロゴ">
          </a>
        </h1>
      </div>
      <div class="nav_area">
        <nav class="header_nav">
          <ul id="dropmenu" class="flex">
            <li>
              <a href="./category.html">商品カテゴリで選ぶ</a>
              <ul>
                <li><a href="#">すべての商品</a></li>
                <li><a href="#">和食</a>
                  <ul>
                    <li><a href="#">本膳料理</a>
                    <li><a href="#">懐石料理</a>
                    <li><a href="#">精進料理</a>
                  </ul>
                </li>
                <li><a href="#">洋食</a></li>
                <li><a href="#">中華</a></li>
              </ul>
            </li>
            <li>
              <a href="./material.html">食品で選ぶ</a>
              <ul>
                <li><a href="#">ナビ01</a>
                  <ul>
                    <li><a href="#">ナビ01-01</a>
                    <li><a href="#">ナビ01-02</a>
                    <li><a href="#">ナビ01-03</a>
                    <li><a href="#">ナビ01-04</a>
                  </ul>
                </li>
                <li><a href="#">商品カテゴリで選ぶ</a></li>
                <li><a href="#">商品カテゴリで選ぶ</a></li>
                <li><a href="#">商品カテゴリで選ぶ</a></li>
              </ul>
            </li>
            <li>
              <a href="./concept.html">CONSEPT</a>
            </li>
            <li>
              <a href="./guide.html">GUIDE</a>
            </li>
            <li>
              <a href="./contact.html">CONTACT</a>
            </li>
          </ul>
        </nav>
      </div>
      <div id="sp_btn" class="sp_btn"><span></span></div>
    </div>
  </header>
