<aside class="side_wrap">
  <div class="search_area flex">
    <input type="search" id="form_input__search" class="form_input form_input__search border" name="s">
    <input class="button  button__primary" type="submit" name="submit" value="検索">
  </div>
  <div class="longin_wrap mt15">
    <button class="button button__padding button__primary" type="button" name="button">ログイン</button>
  </div>
  <div class="recommendation_wrap mt60">
    <h3 class="title__medium title__border">今月のおすすめ</h3>
    <div class="recommendationbox">
      <a href="#">
        <div class="recommendationbox__img">
          <figure>
            <img src="./img/index/img_recommendation01.jpg" alt="今月のおすすめ">
          </figure>
        </div>
        <div class="recommendationbox__text">
          <p class="font12_sp">東京〇〇亭のお得なセット。3名様分</p>
        </div>
      </a>
    </div>
    <div class="sidenavi_box">
      <h3 class="title__medium title__border">商品カテゴリから選ぶ</h3>
      <ul class="sidelist">
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>和食</span>
          </a>
        </li>
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>洋食</span>
          </a>
        </li>
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>中華</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidenavi_box">
      <h3 class="title__medium title__border">食品で選ぶ</h3>
      <ul class="sidelist">
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>肉</span>
          </a>
        </li>
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>魚介</span>
          </a>
        </li>
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>野菜</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidenavi_box">
      <h3 class="title__medium title__border">シーンで選ぶ</h3>
      <ul class="sidelist">
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>結婚祝い</span>
          </a>
        </li>
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>ホームパーティー</span>
          </a>
        </li>
        <li class="sidelist__item">
          <a href="#">
            <span class="sidelist__circle"></span>
            <span>自分へのご褒美</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sidenavi_box">
      <h3 class="title__medium title__border">価格帯から選ぶ</h3>
      <ul class="list">
        <li class="list__item">
          <a href="#">3,000円〜4,999円</a>
        </li>
        <li class="list__item">
          <a href="#">5,000円〜9,999円</a>
        </li>
        <li class="list__item">
          <a href="#">10,000〜14,999円</a>
        </li>
        <li class="list__item">
          <a href="#">15,000〜19,999円</a>
        </li>
        <li class="list__item">
          <a href="#">20,000円以上</a>
        </li>
      </ul>
    </div>
    <div class="sidenavi_box">
      <h3 class="title__medium title__border">RANKING</h3>
      <div class="recommendationbox">
        <a href="#">
          <div class="recommendationbox__img">
            <figure>
              <img src="./img/index/img_ranking01.jpg" alt="ランキング1位">
            </figure>
          </div>
          <div class="recommendationbox__text">
            <div class="num">1</div>
            <p class="font14 mt10 font12_sp">和牛しゃぶしゃぶセット</p>
          </div>
        </a>
      </div>
      <div class="recommendationbox">
        <a href="#">
          <div class="recommendationbox__img">
            <figure>
              <img src="./img/index/img_ranking02.jpg" alt="ランキング2位">
            </figure>
          </div>
          <div class="recommendationbox__text">
            <div class="num">2</div>
            <p class="font14 mt10 font12_sp">すき焼きセット</p>
          </div>
        </a>
      </div>
      <div class="recommendationbox">
        <a href="#">
          <div class="recommendationbox__img">
            <figure>
              <img src="./img/index/img_ranking03.jpg" alt="ランキング1位">
            </figure>
          </div>
          <div class="recommendationbox__text">
            <div class="num">3</div>
            <p class="font14 mt10 font12_sp">おろしハンバーグ</p>
          </div>
        </a>
      </div>
    </div>
    <div class="sidenavi_box">
      <h3 class="title__medium title__border">ご案内</h3>
      <ul class="list">
        <li class="list__item">
          <a href="#">CONSEPT</a>
        </li>
        <li class="list__item">
          <a href="#">GUIDE</a>
        </li>
        <li class="list__item">
          <a href="#">CONTACT</a>
        </li>
      </ul>
    </div>
    <div class="sidenavi_box end">
      <div class="cart_wrap mt15">
        <button class="button button__padding button__primary" type="button" name="button">カート</button>
      </div>
    </div>
  </div>
</aside>
